<!DOCTYPE html>
<html lang = "pl" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodanie produktow</title>
</head>
<body>
    <div class="main">
        <div class="sumarry">
            <form >
                <label>Nazwa</label>
                <input type="text" name="Nazwa" required>
                <label>Cena</label>
                <input type="text" name="Cena" required>
                <button>Dodaj</button>
            </form>
        </div>
    </div>

</body>
</html>