<!DOCTYPE html>
<html lang = "pl" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CIUCHEX - Produkt</title>
    <link rel="stylesheet" type="text/css" href="/css/STYLE.css">
</head>
<body>
    <header>
        <h2 style="text-align: center;">CIUCHEX</h2>
    </header>
    <div id="container">
        <nav>
            <ul>
                <li><a href="/" style="font-style: arial;">Strona główna</a></li>
                <li><a href="/odziez">Odzież</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/produkt">Produkt</a></li>
                <li><a href="/logowanie">Logowanie</a></li>
            </ul>
        </nav>
        <main>
            <article>
                Zawartość artykułu
            </article>
        </main>
    </div>
    <footer>
        <h6 style="text-align: center;">Stopka</h6>
    </footer>
</body>
</html>

