<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CIUCHEX - Rejestracja</title>
    <link rel="stylesheet" type="text/css" href="/css/STYLE.css">
</head>
<body>
    <header>
      <h2 style="text-align: center;">CIUCHEX</h2>
    </header>
    <div id="container">
        <nav>
            <ul>
                <li><a href="/" style="font-style: arial;">Strona główna</a></li>
                <li><a href="/odziez">Odzież</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/produkt">Produkt</a></li>
                <li><a href="/logowanie">Logowanie</a></li>
            </ul>
        </nav>
        <main>
            <article style="margin-left: 10px;">
              <h1>Rejestracja</h1>
                <form action="/logowanie" method="post">
                    <label for="username">Login:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <input type="submit" value="Utwórz konto">
                </form>
            </article>
        </main>
    </div>
    <footer>
        <h6 style="text-align: center;">Stopka</h6>
    </footer>
</body>
</html>-->

<!DOCTYPE html>
<html lang = "pl" xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Mój Sklep</title>
    <link rel="stylesheet" type="text/css" href="/css/STYLE.css">
</head>
<body>

<header>
    <div class="logo"><img src="ciuchex_logo.jpg" width="180" height="50"></div>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="#">Produkty</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/logowanie">Zaloguj się</a></li>
        </ul>
    </nav>
</header>

<main>
    <div id="log">
        <h1>Rejestracja nowego klienta</h1>
        <form th:action="@{/rejestracja}" method="POST" th:object="${Uzytkownicy}">
            <label for="fname">Imię:</label><br>
            <input th:field="*{imie}" type="text" id="fname" name="fname" required><br>

            <label for="lname">Nazwisko:</label><br>
            <input th:field="*{nazwisko}" type="text" id="lname" name="lname" required><br>

            <label for="email">Email:</label><br>
            <input th:field="*{email}" type="email" id="email" name="email" required><br>

            <label for="username">Login:</label><br>
            <input th:field="*{login}" type="text" id="username" name="username" required><br>

            <label for="password">Hasło:</label><br>
            <input th:field="*{haslo}" type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Zarejestruj">
        </form>
    </div>
</main>

<footer>
    © 2023 Sklep CIUCHEX
</footer>

</body>
</html>