# Ignorowanie plików z danymi konfiguracyjnymi i kluczami dostępu
.env

# Ignorowanie folderów node_modules
node_modules/

# Ignorowanie folderu logów
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorowanie plików tymczasowych
tmp/
temp/
*.tmp

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików związanych z edytorami kodu
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln